.content-row {
  padding: 8.375rem 0 39.5rem;

  position: relative;
  overflow: hidden;
@include p17-block() { 
  padding: 0 0 12.5rem;
 };
  @include p10-block() { 
    padding: 7.8125rem 0 6.1875rem;
   };
  & > img {
    position: absolute;
    width:  clamp(65rem, 52vmin, 78.5rem);
    height: clamp(95rem, 84vmin, 106.43rem);
    object-fit: cover;
    transform: translate(-3.8125rem) !important;
    left: 50%;
    top: -10.375rem;
    z-index: -1;
    @include p17-block() {
    width:  clamp(30rem, 45vmin, 37.5rem);
    height: clamp(40rem, 74vmin, 48.5rem);
    transform: translate(4.9375rem)!important;
      top: -0.375rem;
      z-index: -1;
    }
    @include p13-block() { 
      transform: translate(2.4375rem)!important;
     };
    @include p10-block() {
      width: 25rem;
      height: 34.75rem;
      transform: translate(-2.125rem)!important;
      top: 12.125rem;
      z-index: -1;
    }
    @include p5-block() {
      width: 12.5rem;
      height: 16.875rem;
      transform: translate(-2.75rem)!important;
      top: 24.3125rem;
      z-index: -1;
    }
  }
}

.content-row__wrap {
  @include row-flex();

  .section-info__small {
    @include col();
    @include size(15);
    @include shift-left(1);
    @include shift-p22-left(1);

    padding-left: 0.5625rem;
    margin-bottom: 3.125rem;
  }
  .section-info__big {
    @include col();
    @include size(5);
    @include shift-left(1);
    @include shift-p22-left(1);

    @include size-p13(10);
  }
  .section-info__desc {
    @include col();
    @include size(3);
    @include shift-left(1);
    @include shift-p22-left(1);

    @include size-p13(10);

    margin-top: 4.75rem;

    & p:last-child {
      margin-top: 3.0625rem;
    }
  }
  .content-row__img {
  }
}
