$green: #75DE6B;
$light_green: #ACFF6D;
$red: #E10000;
$main_color: #fff;
$light_gray: #C8C8C8;
$middle_gray: #00000070;
$dark_gray: #000000A6;
$light_black: #000000E6;
$black: #000;



// $border-dark: rgba($base-color, 0.88);

$img_path : "../img";

$header_height: 14.8125rem;
